Repository NVIDIA/NVFlare, pull requests merged in 2023-11, with the labels that each got.

#2114 Update gnn example
  examples/advanced/gnn/README.md
  examples/advanced/gnn/requirements.txt
Labels: examples, dependencies

#2064 Update swarm learning example
  examples/advanced/swarm_learning/README.md
  job_templates/swarm_cse_pt/config_fed_client.conf
  job_templates/swarm_cse_pt/config_fed_client.json
  job_templates/swarm_cse_pt/config_fed_server.conf
  job_templates/swarm_cse_pt/config_fed_server.json
Labels: examples

#2116 Merge duplicate sag_pt_deploy_map/sag_pt_ddp job templates [skip ci]
  examples/hello-world/ml-to-fl/pt/README.md
  job_templates/sag_pt_ddp/app_1/config_fed_client.conf
  job_templates/sag_pt_ddp/app_2/config_fed_client.conf
  job_templates/sag_pt_ddp/app_server/config_fed_server.conf
  job_templates/sag_pt_ddp/info.conf
  job_templates/sag_pt_ddp/info.md
  job_templates/sag_pt_ddp/meta.conf
  job_templates/sag_pt_deploy_map/app_1/config_fed_client.conf
  job_templates/sag_pt_deploy_map/app_2/config_fed_client.conf
  job_templates/sag_pt_deploy_map/info.md
  job_templates/sag_pt_deploy_map/meta.conf
Labels: examples

#2056 Enhance TF Client API examples
  examples/hello-world/ml-to-fl/tf/README.md
  examples/hello-world/ml-to-fl/tf/code/cifar10_tf_fl.py
  examples/hello-world/ml-to-fl/tf/code/cifar10_tf_multi_gpu_fl.py
  job_templates/sag_tf/config_fed_client.conf
  job_templates/sag_tf/config_fed_server.conf
  nvflare/app_common/utils/fl_model_utils.py
  nvflare/app_opt/tf/model_persistor.py
  nvflare/app_opt/tf/params_converter.py
  nvflare/app_opt/tf/utils.py
Labels: examples

#2123 Fix docs build
  .readthedocs.yaml
Labels: documentation

#2120 Print logs and write to logfile at the same time
  nvflare/app_common/abstract/launcher.py
  nvflare/app_common/launchers/subprocess_launcher.py
  tests/unit_test/app_common/launchers/subprocess_launcher_test.py
Labels: enhancement

#2126 Update configurations of LauncherExecutor
  integration/nemo/examples/peft/peft.ipynb
  job_templates/cyclic_cc_pt/config_fed_client.conf
  job_templates/cyclic_cc_pt/info.md
  job_templates/cyclic_pt/config_fed_client.conf
  job_templates/cyclic_pt/info.md
  job_templates/sag_nemo/app_1/config_fed_client.conf
  job_templates/sag_nemo/app_2/config_fed_client.conf
  job_templates/sag_nemo/app_3/config_fed_client.conf
  job_templates/sag_nemo/info.md
  job_templates/sag_pt/config_fed_client.conf
  job_templates/sag_pt/info.md
  job_templates/sag_pt_deploy_map/app_1/config_fed_client.conf
  job_templates/sag_pt_deploy_map/app_2/config_fed_client.conf
  job_templates/sag_pt_deploy_map/info.md
  job_templates/sag_pt_gnn_supervised/app_1/config_fed_client.conf
  job_templates/sag_pt_gnn_supervised/app_2/config_fed_client.conf
  job_templates/sag_pt_gnn_supervised/info.md
  job_templates/sag_pt_gnn_unsupervised/app_1/config_fed_client.conf
  job_templates/sag_pt_gnn_unsupervised/app_2/config_fed_client.conf
  job_templates/sag_pt_gnn_unsupervised/info.md
  job_templates/sag_tf/config_fed_client.conf
  job_templates/sag_tf/info.md
  job_templates/swarm_cse_pt/config_fed_client.conf
  nvflare/fuel/utils/pipe/file_pipe.py
Labels: examples

#2129 Remove receive_global_model
  nvflare/client/__init__.py
  nvflare/client/api.py
  nvflare/client/lightning/__init__.py
Labels: enhancement

#2139 Fix doc format and docstring format [skip ci]
  docs/getting_started.rst
  docs/real_world_fl.rst
  docs/resources/Dockerfile
  docs/user_guide/federated_authorization.rst
  docs/user_guide/hierarchy_unification_bridge.rst
  nvflare/app_common/abstract/model_persistor.py
  nvflare/fuel/utils/config.py
Labels: documentation

#2137 Update client api doc and docstrings
  docs/user_guide.rst
  docs/user_guide/client_api.rst
  nvflare/app_common/abstract/fl_model.py
Labels: documentation

#2031 Add NumPy + Client API example
  examples/hello-world/ml-to-fl/README.md
  examples/hello-world/ml-to-fl/np/README.md
  examples/hello-world/ml-to-fl/np/code/train_diff.py
  examples/hello-world/ml-to-fl/np/code/train_full.py
  examples/hello-world/ml-to-fl/np/code/train_loop.py
  job_templates/sag_np/config_fed_client.conf
  job_templates/sag_np/config_fed_server.conf
  job_templates/sag_np/info.conf
  job_templates/sag_np/info.md
  job_templates/sag_np/meta.conf
Labels: examples

#2172 Fix Swarm learning README [skip ci]
  examples/advanced/swarm_learning/README.md
Labels: examples

#2141 Fix job cli issues
  nvflare/tool/job/config/config_indexer.py
  nvflare/tool/job/config/configer.py
  tests/unit_test/tool/job/config/configer_test.py
Labels: bug
